<section id="home">
    <!-- Início seção home -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <!-- Textos da seção -->
                <div class="align-self-center">
                    <h1 class="display-4">Controle suas finanças com inteligência.</h1>
                    <p><b>Disponível para</b>
                        <a href="#" class="btn btn-outline-light">
                            <i class="fab fa-android fa-lg"></i>
                        </a>
                        <a href="#" class="btn btn-outline-light">
                            <i class="fab fa-apple"></i>
                        </a>
                    </p>
                </div>
            </div>
            <!--/fim textos da seção -->
            <div class="col-md-6 d-none d-md-block">
                <img src="images/financas-home.png" class="img-fluid" alt="Controle Financeiro">
            </div>
        </div>
    </div>
</section>
<!--/fim seção home -->

<section class="caixa">
    <!--/Início seção saiba -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="align-self-center">
                    <h2>Organize seu orçamento</h2>
                    <p>Tenha controle total sobre sua renda e despesas com nosso sistema de gerenciamento financeiro.</p>
                    <p> <a href="#" class="btn btn-primary">Saiba mais</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/orcamento.png" class="img-fluid" alt="Orçamento Financeiro">
            </div>
        </div>
    </div>
</section>
<!--/FIM seção saiba -->

<section class="caixa">
    <!--/Início seção Tempo -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Dicas de economia</h2>
                <p>Aprenda como poupar dinheiro, cortar gastos desnecessários e investir com segurança.</p>
                <img src="images/dicas.png" class="img-fluid" alt="Dicas Financeiras">
                <p class="clima"> 
                    <a href="#" class="btn btn-primary">Veja mais</a>
                </p>
            </div>
            <div class="col-md-6 d-flex">
                <div class="align-self-center">
                    <h2>Localize agências bancárias</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d284861.3901128557!2d-42.270439412135026!3d-20.26730793734856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2sbr!4v1672696283125!5m2!1spt-PT!2sbr"
                        width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/FIM seção Tempo -->

<section class="caixa">
    <!--/Início seção recursos -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="images/app1.png" alt="Gestão Pessoal">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/app2.png" alt="Investimentos">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/app3.png" alt="Relatórios Financeiros">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>
                <br>
                <h4>Aplicativo de Finanças</h4>
                <p>Monitore seus gastos diários, visualize relatórios mensais e acompanhe seus objetivos financeiros em tempo real.</p>
            </div>
            <div class="col-md-4">
                <img src="images/educacao-financeira.png" class="img-fluid" alt="Educação Financeira">
                <br><br>
                <h4>Educação Financeira</h4>
                <p>Oferecemos cursos e conteúdos gratuitos para ajudar você a entender melhor como lidar com seu dinheiro e conquistar independência financeira.</p>
            </div>
            <div class="col-md-4">
                <img src="images/suporte-financas.png" class="img-fluid" alt="Suporte Financeiro">
                <br><br><br><br>
                <h4>Suporte Financeiro</h4>
                <p>Está com dúvidas? Fale com nossos especialistas ou envie uma mensagem para nossa central de suporte. Estamos aqui para te ajudar!</p>
            </div>
        </div>
    </div>
</section>
<!--/FIM seção recursos -->
