<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Estilo customizado -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Finanças</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item login">
          <button type="button" class="btn btn-custom btn-sm btn-verde" data-toggle="modal" data-target="#loginModal">
            Entrar
          </button>
        </li>
        <li class="nav-item cadastro">
          <button type="button" class="btn btn-custom btn-sm btn-verde" data-toggle="modal"
            data-target="#registerModal">
            Cadastre-se
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Modal Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="loginModalLabel">Fazer Login</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/auth/login">
          <div class="modal-body">
            <div class="mb-3">
              <label for="loginUsername" class="form-label">Usuário</label>
              <input type="text" name="username" id="loginUsername" class="form-control"
                placeholder="Digite seu usuário" required>
            </div>
            <div class="mb-3">
              <label for="loginSenha" class="form-label">Senha</label>
              <input type="password" name="senha" id="loginSenha" class="form-control" placeholder="Digite sua senha"
                required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Registro -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="registerModalLabel">Registrar</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/auth/register">
          <div class="modal-body">
            <div class="mb-3">
              <label for="registerNome" class="form-label">Nome</label>
              <input type="text" name="nome" id="registerNome" class="form-control" placeholder="Digite seu nome"
                required>
            </div>
            <div class="mb-3">
              <label for="registerUsername" class="form-label">Usuário</label>
              <input type="text" name="username" id="registerUsername" class="form-control"
                placeholder="Escolha um nome de usuário" required>
            </div>
            <div class="mb-3">
              <label for="registerEmail" class="form-label">E-mail</label>
              <input type="email" name="email" id="registerEmail" class="form-control" placeholder="Digite seu e-mail"
                required>
            </div>
            <div class="mb-3">
              <label for="registerSenha" class="form-label">Senha</label>
              <input type="password" name="senha" id="registerSenha" class="form-control" placeholder="Digite uma senha"
                required>
            </div>
            <div class="mb-3">
              <label for="registerConfirmaSenha" class="form-label">Confirme sua senha</label>
              <input type="password" name="confirmaSenha" id="registerConfirmaSenha" class="form-control"
                placeholder="Repita a senha" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {{{body}}}



  <!-- Footer -->
  <br>
  <footer class="bg-dark text-light pt-5 pb-3">
    <div class="container">
      <div class="row">

        <!-- Sobre nós -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase mb-3">Sobre Nós</h5>
          <p>Somos especialistas em ajudar você a controlar suas finanças e conquistar a independência financeira, com
            dicas, cursos e ferramentas práticas.</p>
        </div>

        <!-- Dados rápidos -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase mb-3">Dados Rápidos</h5>
          <ul class="list-unstyled">
            <li><b>Endereço:</b> Rua Exemplo, 123 - Centro</li>
            <li><b>Email:</b> mcfinanca@gmail.com</li>
            <li><b>Contato:</b> 33 9999-9999</li>
          </ul>
        </div>

        <!-- Redes sociais -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase mb-3">Siga-nos</h5>
          <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-linkedin fa-lg"></i></a>
          
        </div>

      </div>

      <hr class="bg-secondary">

      <div class="text-center">
        <p class="mb-0">&copy; 2025 Finanças Inteligentes. Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>
  <!-- JavaScript (Opcional) -->
  <script type="text/javascript" src="javascripts/script.js"></script>

  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>