/* Seção inicial */
#home {
	background: #0c5f29; /* Verde escuro sofisticado */
	color: white;
	height: 40%;
	overflow-x: hidden;
}

/* Seções com fundo branco e divisores */
.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #d3d3d3;
	background-color: #f9f9f9;
}

.login,
.cadastro {
	margin-left: 50px;
	border-radius: 24px;
}

/* Botões personalizados */
.btn-custom {
	color: white;
	border-radius: 50px;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: background 0.4s, color 0.4s;
}

.btn-verde {
	background: #1db954; /* Verde vibrante */
}
.btn-verde:hover {
	background: white;
	color: #1db954;
}


/* Fundo gradiente moderno financeiro */
body {
	background: linear-gradient(135deg, #ffffff, #ffffff);
	background-attachment: fixed;
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #333;
}

/* Títulos */
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}
h2 {
	font-size: 2.5em;
	font-weight: 700;
	color: #0c5f29;
}
h3 {
	font-size: 1.8em;
	font-weight: 600;
	color: #0c5f29;
}
h4 {
	color: #0c5f29;
	font-weight: 600;
}



